/* Chalkduster */
@font-face {
  font-family: 'Chalkduster';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('assets/fonts/chalkduster/chalkduster.ttf.woff2') format('woff2');
}